
:root
{
    --color-main: #5b52ff;
    --color-danger: #ec752f;
    --color-main-light: #9691ff;
    --color-main-white: #fff;
    --color-main-dark: #1d1d1d;
    --color-light-grey: #c0c0c0;
    --color-dark-grey: #424242;
    --color-main-black: #000;

    --border-radius-1: 0.2rem;
    --border-radius-2: 0.4rem;

    --transition: all 200ms ease;

}
*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

    font-family: Poppins;
}

body
{
    margin-top: 5rem;
}

.container
{
    display: flex;
    justify-content: space-around;
}

h2
{
    font-weight: 600;
    padding-bottom: 0.4rem;
    font-size: 1.4rem;
}

.mainPage
{
    padding-left: 1rem;
    padding-right: 1rem;
    width: 70%;
}
