:root
{
    --color-main: #5b52ff;
    --color-danger: #ec752f;
    --color-main-light: #9691ff;
    --color-main-white: #fff;
    --color-main-dark: #252525;
    --color-light-grey: #c0c0c0;
    --color-dark-grey: #424242;
    --color-main-black: #000;

    --border-radius-1: 0.2rem;
    --border-radius-2: 0.4rem;

    --transition: all 150ms ease;

}
*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

/*------------Navigation bar------------- */
#col
{
    color: var(--color-danger);
}

a
{
    color: var(--color-main-white);
}

h1
{
    padding-left: 3rem;
    padding-right: 2rem;
}

nav
{
    background-color: var(--color-main-dark);
    width: 100vw;
    min-width: 45rem;
    height: 3.6rem;
    position: fixed;
    top: 0;
    z-index: 11;
}


.navbar__container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topnavbar
{
    display: inline-block;
    gap: 2rem;
    padding-right: 2rem;
}

.topnavbar a
{
    border-bottom: 5px solid transparent;
}

.navbar__container a
{
    padding: 1rem 1.5rem;
}

.topnavbar .active
{
    color: var(--color-danger);
    border-bottom: 5px solid var(--color-danger);
}

.topnavbar a:hover
{
    color: var(--color-danger);
    border-bottom: 5px solid var(--color-danger);
    transition: var(--transition);
}

/*------------- DropDown button ------------------*/
.dropdown
{
    position: relative;
    display: inline-block;
}

.dropdown-content
{
    overflow: hidden;
    display: none;
    position: absolute;
    background-color: var(--color-main-white);
    margin-top: 1.25rem;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
    z-index: 10;
    border-bottom-right-radius: var(--border-radius-2);
    border-bottom-left-radius: var(--border-radius-2);
}

.dropdown-content a
{
    display: block;
    text-align: center;
    padding: 1rem 2rem;
    color: var(--color-main-dark);
}

.dropdown:hover .dropdown-content
{
    display: block;
}
