:root
{
    --padding-1: 1rem;

    --border-rad-1: 0.2rem;
    --border-rad-2: 3rem;
}

*{
    font-family: Poppins;
}
/* ---------------- Card style ----------------*/
.page-content
{
    margin-top: 5rem;
    margin-left: 2rem;
}

.title
{
    font-size: 1rem;
    font-weight: 300;
}

.card
{
    display: inline-block;
    padding-top: 2rem;
    padding-right: var(--padding-1);
}

.card img
{
    width: 22rem;
    height: 13rem;
    object-fit: cover;
    border-radius: var(--border-rad-1);
}

.card-body
{   
    font-family: Poppins;
    color: white;
    white-space: nowrap;
    margin-top: -4.5rem;
    margin-left: 1rem;
}
.card-body h2
{
    font-weight: 400;
    font-size: 1.2rem;
}

.card-body p 
{
    font-weight: 300;
}

section
{
    display: block;
}

.card:hover
{
    cursor: pointer;
}