//Colors 
$color-orange: #ec752f; // main theme orange
$color-danger: #e2413c; //Red
$color-alert: #FFD300; //Yellow
$color-success: #00A86B; //Green
$color-main-grey: #969696; // grey shades
$color-main-grey-light-0: #d4d4d4;
$color-main-grey-light-1: #424242;
$color-main-grey-light-2: #f1f1f1;
$color-main-dark-grey: #1D1D1D;
$color-main-dark: #121212;
$color-main-black: #000;
$color-main-white: #fff;

//border raddius
$border-rad-0: 0.2rem;
$border-rad-1: 0.4rem;
$border-rad-2: 1rem;
$border-rad-3: 2rem;

//width
$nav-width: 13rem;

//transitions
$transition-0: all 250ms ease-in-out;
$transition-1: all 500ms ease-in-out;

//thumbnail max width
$thumbnail-max-width: 5rem;

$font-size-0: 0.8rem;
$font-size-1: 0.9rem;
$font-size-2: 1rem;
$font-size-3: 1.2rem;
$font-size-4: 1.5rem;
$font-size-5: 1.8rem;