@use '../../abstracts/variables' as v;
@use '../../base/palette' as p;

.content
{
    &__container
    {
        margin-top: 1rem;
        //width: 95%;
        margin-left: 2rem;
        margin-right: 2rem;

        margin-bottom: 2rem;
    }

    &__title
    {
        margin-bottom: 1rem;
    }
    &__page
    {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
        
        column-gap: 2rem;
        row-gap: 2rem;
        border-radius: v.$border-rad-1;
    }
    
    &__card
    {        
        //box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05);
    
        img
        {
            width: 100%;
            aspect-ratio: 16/9;
            object-fit: cover;
            border-radius: v.$border-rad-0;
        }
    
        h2
        {
            margin-top: 0.4rem;
            text-align: center;
            font-size: 1.2rem;
            font-weight: 400;
            color: p.$color-black;
        }
    
        &__body
        {   
            margin-top: 0.8rem;
        
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        
            gap: 1rem;
            
            a
            {
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                width: 40%;
                border-radius: v.$border-rad-1;
                font-size: 1rem;
                text-align: center;
        
                &:hover
                {
                    cursor: pointer;
                }
            }
        } 
    } 
    
}



.edit
{
    background-color: p.$color-secondary;
    color: p.$color-black;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.05);
}

.delete
{
    background-color: v.$color-danger;
    color: v.$color-main-white;
}

/*---------------- edit/update section ------------------*/
