@use '../abstracts/variables' as v;
@use '../base/palette' as p;
/*----------------- vehicles -----------------*/
.vehicles
{
    display: flex;
    justify-content: space-around;

    &__container
    {
        width: 95%;
    }
    
    &__title
    {
        margin-bottom: 0.8rem;
    }
}

section
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    column-gap: 1.5rem;
    justify-content: center;
    justify-items: center;
    transition: v.$transition-1;
}

.card
{
    transition: v.$transition-0;
    &__image
    {
        width: 100%;
        object-fit: cover;
        // border-radius: v.$border-rad-0;
        aspect-ratio: 16/9;
    }

    &:hover
    {
        cursor: pointer;
        // transform: scale(1.05);
        // transition:v.$transition-1;
    }

    &__body
    {   
        font-family: Poppins;
        color: rgb(0, 0, 0);
        white-space: nowrap;
        margin-top: -0.5rem;
        text-align: center;
        padding-top: 0.4rem;
        padding-bottom: 1.4rem;
    
        &__title
        {
            margin-top: 0.4rem;
            font-size: 1.1rem;
        }
        
        &__price
        {
            font-weight: 300;
        }
    }
}
