:root
{
    --color-main-purple: #5b52ff;
    --color-danger-2: #ec752f;
    --color-main-light: #9691ff;
    --color-main-white: #fff;
    --color-main-dark: #1d1d1d;
    --color-light-grey: #c0c0c0;
    --color-dark-grey: #424242;
    --color-main-black: #000;

    --navbar-width: 12rem;

    --border-radius-1: 0.2rem;
    --border-radius-2: 0.4rem;

    --transition: all 250ms ease;
}

*
{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Poppins;
}

.material-symbols-sharp {
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 200,
  'opsz' 48
}

body
{
    display: grid;
    grid-template-columns: var(--navbar-width) auto;
}

aside
{
    position: sticky;
    float: left;
}

.active
{
    border-right: 4px solid var(--color-danger-2);
}

#col
{
    color: var(--color-danger-2);
}

.container
{
    background-color: var(--color-main-dark);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: var(--navbar-width);
}

.container a
{
    color: var(--color-main-white);

    display: flex;
    align-items: center;
    
    padding-top: 0.9em;
    padding-bottom: 0.9rem;
    padding-left: 2rem;

    /*border-right: 4px solid transparent;*/
}

#logo
{
    margin-top: 1rem;
}

.navbar
{
    display: flex;
    flex-direction: column;
    /*margin-bottom: 16rem;*/
}


.navbar h1
{
    font-style: italic;
    margin-bottom: 0.2rem;
}

.container h3
{
    padding-left: 0.8rem;
    font-family: Poppins;
    font-weight: 300;
    font-size: 0.9rem;
}

.droplist
{
    display: none;
}

.droplist a
{
    padding-left: 3rem;
}

.extended
{
    display: block;
}

.container a:hover
{
    background-color: var(--color-dark-grey);
    transition: var(--transition);
}