// reset all browser default styles
@use './font-face' as f;
@use './type' as t;
@use './palette' as p;
@use '../abstracts/variables' as v;

*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.material-symbols-sharp 
{
    font-variation-settings:
    'FILL' 0,
    'wght' 200,
    'GRAD' 200,
    'opsz' 48
}  
::-webkit-scrollbar
{
    width: 8px;
    height: 8px;
    &-track
    {
        background-color: p.$color-secondary;
    }

    &-thumb
    {
        background-color: p.$color-primary;
        border-radius: v.$border-rad-1;
    }
}